@use "../custom" as *;

footer {
    color: $secondary;
    background: linear-gradient(to bottom,rgba($primary,.85), rgba($primary,.75), rgba($primary,.85)),url("/BlackDiamondClub/assets/img/hero-bg.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    .row{
        h6{
            font-size: 1.4rem;
        }
            a{
                font-size: 1.2rem;
                text-shadow: 0 0 1px $primary;
            }
        }
    }
