@use '../custom' as *;

//Gradient mixin
@mixin gradient {
    background: linear-gradient(to right, rgba($primary,.95),rgba($secondary,.95));
}
// Absolute center
@mixin absoluteCenter{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%,-50%);
}
@mixin absoluteCenter567{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
@mixin transitionProperty {
    transition: 1000ms ease-in-out;
    transition-property: all;
    
}